<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

        <body>
            <ul>
                <!-- <% for(let i=0; i<20; i++) { %>
                  <li> <%= i %> </li>
                  <% } %> -->
                  <% let i=0; %>
                  <% while(i<5){ %>
                      <li> <%= i %></li>
                      <% i++ %>
                      <% } %>
            </ul>
        </body>
</html>